<%- include("../components/head"); -%>
<%- include("../components/navbar"); -%>
<div class="container py-4">
    <h1 class="mb-4">Edit Post</h1>

    <form action="/posts/<%= post.id %>?_method=PUT" method="POST">
        <%- include('_form_fields') %>
    </form>
</div>
<%- include("../components/footer"); -%>