<%- include("../components/head"); -%>
<%- include("../components/navbar"); -%>
<div class="container py-4">
    <h1 class="mb-1 text-capitalize"><%= post.title %></h1>
    <div class="text-muted mb-2">
        <%= post.createdAt.toLocaleDateString() %>
    </div>
    <div>
        <%- post.sanitizedHtml %>
    </div>

    <a href="/" class="btn btn-secondary">All Articles</a>
    <a href="/posts/edit/<%= post.id %>" class="btn btn-info">Edit</a>
</div>
<%- include("../components/footer"); -%>